@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html,
body {
    background-color: #1c1c1c;
    color: #fff;
}

.card {
    padding: 20px;
    background-color: #202020;
}

/* stats */
.statbar {
    width: 100%;
    border: transparent;
    border-radius: 3px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hpbar {
    background-color: rgb(246, 34, 34);
    width: 100%;
}

#manabar {
    background-color: rgb(34, 136, 246);
}

#xpbar {
    background-color: rgb(133, 34, 246);
}

.notSelected {
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.notSelected:hover {
    border: #00d7c2 1px solid;
    background-color: #00d7c2;
    border-radius: 3px;
    cursor: pointer;
}

button.isSelected {
    border: #06f6de 1px solid;
    background-color: #06f6de;
    border-radius: 3px;
    color: #fff;
}

select {
    color: #fff;
    background-color: #202020;
    border: 1px solid #fff;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease;
}

select:hover {
    background-color: #232323;
}

option {
    color: #fff;
    background-color: #202020;
    transition:400ms ease;
}
option:hover {
    background-color: #232323;
}